body{
  display: flex;
  justify-content: center;
  align-items: center;
  color:blueviolet
  
}
.board-row{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.board-container{
  margin:20px;
  width:50vw;
  margin-top: 20vh;

}

.winner{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: lightgreen;

}

.square{
  border:1px dashed;
}

.green{
   background-color:lightgreen;
  color:white;
  font-size:xx-large;
  border-color: purple;
  border:1px 1px ;

}

.reset-button{
  width:30%;
  height:5vw;
  color:aliceblue;
  background-color: blueviolet;
  border:none;
  border-radius:10px;
  font-weight: lighter;
  margin-left:20vw;
  font-size: 3vw;

}